<a name="education" class="anchor"></a>
<div class="background">
  <div class="container">
    <h3 class="education-title">Education</h3>
    <img src="/assets/images/Rutgers-University-Logo.png" alt="rutgers" class="rutgers-image">
    <h1 style="font-size: 30px">Rutgers University, New Brunswick, NJ</h1>
    <h2 style="font-size: 20px">
      Bachelor of Science in Computer Science
    </h2>
    <h3 style="font-size: 20px">Graduated 2020</h3>
    <p class="education-text">
      Selected Coursework: Computer Architecture, Data Structures, Systems Programming, Design
      and Analysis of Computer Algorithms, Mathematical Theory of Probability, Software
      Methodology, Numerical Analysis and Computing, Principles of Information and Data
      Management, Internet Technology
    </p>
  </div>
</div>

