<a name="projects" class="anchor"></a>

<div class="background">
  <div class="container">
    <h1 class="projects-title">Projects</h1>
    <div class="projects-container">
      <div class="left-side">
        <h2 class="projects-sub-title"><a class="tongue-twister-link"
                                          href="https://play.google.com/store/apps/details?id=com.pixeldreamland.tonguetwister">Tongue
          Twister
          App</a></h2>
        <div>
          <mat-card>
            <div class="image-container">
              <a href="https://play.google.com/store/apps/details?id=com.pixeldreamland.tonguetwister">
                <img class="tongue-twister-image" src="assets/images/tongue_twister_1.png">
              </a>
              <a href="https://play.google.com/store/apps/details?id=com.pixeldreamland.tonguetwister">
                <img class="tongue-twister-image" src="assets/images/tongue_twister_2.png">
              </a>
            </div>
          </mat-card>
        </div>
        <div>
          <mat-card>
            <mat-card-title>Description</mat-card-title>
            <div class="tongue-twister-description">
              &nbsp;&nbsp;The Tongue Twister Application utilizes a MySQL database that is hosted on the Amazon RDS. The
              application also uses a web server that was set up using Spring and is hosted on an Amazon
              EC2 server in a Tomcat container. The Tongue Twister application connects to a web-server
              which connects to the MySQL database to retrieve data (tongue twisters). This in turn allows
              new tongue twisters to be added without having to redeploy the app.
            </div>
          </mat-card>
        </div>
      </div>
      <div class="right-side">
        <h3 class="projects-sub-title">Snake Game (Under Construction)</h3>
      </div>
    </div>
  </div>
</div>
