<mat-toolbar color="primary" class="fixed-header">
  <a class="nav-button" mat-button href="#home">Home</a>
  <a class="nav-button" mat-button href="#about">About</a>
  <a class="nav-button" mat-button href="#education">Education</a>
  <a class="nav-button" mat-button href="#skills">Skills</a>
  <a class="nav-button" mat-button href="#projects">Projects</a>

</mat-toolbar>

<div class="page-container">
  <app-home></app-home>
  <app-about></app-about>
  <app-education></app-education>
  <app-skills></app-skills>
  <app-projects></app-projects>
</div>
