/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;  }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif ;
}

html{
  scroll-behavior: smooth;
}
.anchor{
  top:-64px;
  position: relative;
}
@media only screen and (max-width: 1000px) {
  .container {

    padding: 50px 20px 50px 20px!important;
  }
}

/*.text-style-cursive{
  font-family: cursive !important;
}*/
